.pagination-container {
  margin-top: 1em;
  float: right;
}

.page-control {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
  text-decoration: none;
  padding: 10px;
  background: none !important;
  border: none;
  cursor: pointer;
}

.page-control:hover {
  background-color: #b3b3b3;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fafafa;
  color: black;
  pointer-events: none;
  cursor: default;
}

.page-current {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f2f2f2;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
